body{
    margin: 20px;
    font-family: Poppins;
    font-size: 20px;
}

.avatar{
      width: 150px;
}

.card{
    width:400px;
    margin: 0 auto;
    padding:20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a663cc;
    color: #2b2839; 
    border-bottom: 10px solid black;
    border-radius: 20px;

}

